{% block content %}

<div class="container p_in_cart">      
        {% if cart_items|length > 0 %}
        <div class='navbar_adjust_cart'></div>
        <div class="row incart top">
                <div class="col-sm-3 col-xs-6">
                        <h4>Producto</h4>
                </div>
                <div class="col-sm-3 col-xs-3 cart_data">
                        <h4>Nombre</h4>
                </div>
                <div class="col-sm-3 col-xs-3 cart_data">
                        <h4>Precio</h4>
                </div>
                <div class="col-sm-3 col-xs-6">
                        <h4>Cantidad</h4>
                </div>
        </div>      
        <hr>

        {% for item in cart_items %}

        <div class="row p_in_cart">
                <div class="col-sm-3 col-xs-6">
                        <img src="{{MEDIA_URL}}{{ item.product.image }}" width='100px'alt="">
                </div>
                <div class="col-sm-3 ">
                        <h6 class ='cart_data'>{{ item.product.name }}</h6>
                </div>
                <div class="col-sm-3 ">
                        <h6 class ='cart_data'>Precio Unidad: {{ item.product.price }}€</h6><br>
                        {% if item.quantity > 0 %}
                        <h6 class ='cart_data'>Precio Total: {{ item.sub_total }}€</h6>
                        {% endif %}
                </div>
                <div class="col-sm-3 col-xs-6">
                        <input type="number" name="cantidad" class="qt_input" min="1" max="100" placeholder="{{item.quantity}}"></input>
                        <p>
                        <form method="POST" action = "{% url 'remove_from_cart' %}">
                        {% csrf_token %}
                        <!-- <input type = 'number' name="product_id" value= {{item.quantity}}> -->
                        <input type="hidden" name="product_id" value={{item.product.id}}>
                        <button type="submit"> Eliminar </button>
                        </form>
                        </p>
                </div>
        </div>

        <hr>


        {% endfor %}

    
<h5 style='text-align: right; padding-right: 25%;' class ='cart_data'><strong>Total: {{total}}€</strong></h5>

</div>

{% else %}
<div class='navbar_adjust'></div>
<h3 style='text-align: center;'>Tu carrito esta vacio... :(</h3>
<div class='navbar_adjust'></div>
<div class='navbar_adjust'></div>
</div>
{% endif %}

{% endblock content %}
