<br>
<h1>Your Cart</h1>

{% if cart_items|length > 0 %}

{% for item in cart_items %}
<p>
        <img src="{{MEDIA_URL}}{{ item.product.image }}" width="100px"></img> 
        <strong>{{ item.product.name }} </strong> 
        {{ item.product.price }} 
        ------------> 
        <strong>{{ item.sub_total }} €</strong> 
        <form method="POST" action = "{% url 'remove_from_cart' %}">
                {% csrf_token %}
                <!-- <input type = 'number' name="product_id" value= {{item.quantity}}> -->
                <input type="hidden" name="product_id" value={{item.product.id}}>
                <button type="submit">Remove</button>
        </form>
</p>
{% endfor %}
<td><strong>Total:</strong></td>
<td><strong>{{total}} €</strong></td>


{% else %}
<h3>Your cart is empty!</h3>
{% endif %}
