{% extends 'base.html' %}

{% block content %}


<div class='navbar_adjust'></div>
<div class="container login100"></div>
<div class="container login100 bottom center">
  <h3>¿Olvidaste tu contraseña?</h3>
  <form method="post">
  {% csrf_token %}
  {{ form.as_p }}
    <button type="submit">Enviar</button>
  </form>
  <div class='navbar_adjust'></div>
  <div class='navbar_adjust_cart'></div>
  <div class='navbar_adjust_blog'></div>
  <div class='navbar_adjust_blog'></div>
  <div class='navbar_adjust_blog'></div>
  </div>
{% endblock %}
</div>
