{% extends 'base.html' %}

{% block content %}
<div class='navbar_adjust'></div>
<div class="container login"></div>
  {% if validlink %}
    <h3>Nueva contraseña/h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Nueva contraseña</button>
    </form>
  {% else %}
    <p>
      <!-- The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset. -->
      El link ha caducado probablemante porque ya ha sido utilizado.
      Porfavor, solicita uno nuevo.
    </p>
  {% endif %}
</div>
{% endblock %}