{% extends 'base.html' %}

{% block content %}
<div class="navbar_adjust_cart bottom"></div>
<div class="container container-login100 bottom">
  
  {% if validlink %}
    
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Crear nueva contraseña</button>
      
    </form>
  {% else %}
    <p>
      <!-- The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset. -->
      El link ha caducado probablemante porque ya ha sido utilizado.
      Porfavor, solicita uno nuevo.
    </p>
  {% endif %}
</div>

{% endblock %}
</div>
