{% extends 'base.html' %}

{% block content %}
<div class='navbar_adjust'></div>
<div class="container login">

  <p>
    <!-- We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly. -->
    Si el email es correcto, te hemos enviado las instrucciones para resetear tu contraseña.
  </p>
  <p>
    <!-- If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder. -->
    Si no recibes ningun email asegurate de haber introducido la direccion de correo correctamente y de revisar en la carpeta de spam.
  </p>
  </div>
{% endblock %}