{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}
<div class='navbar_adjust_login'></div>

<div class="container login">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">
            <div class="limiter">
                <div class="container-login100">
                    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                        <form method='POST' class="login100-form validate-form">
                            {% csrf_token %}
                            {{ form |as_bootstrap }}
                            <div class="container-login100-form-btn">
                                <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn"></div>
                                        <input class='login_input center' type="submit" value="Login" />
                                </div>
                            <div class="text-right p-t-8 p-b-31">
                                <a class="text-right" href="#">
                                    ¿Olvidaste tu contraseña?
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<div class='navbar_adjust_login'></div>

<div class='navbar_adjust_login'></div>



{% endblock content%}
</div>