{% autoescape off %}
<!-- To initiate the password reset process for your {{ user.get_username }} TestSite Account,
click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

Sincerely,
The TestSite Team -->
Para iniciar el  cambio de contraseña de {{ user.get_username }} en pardobymireiapardo.com,
haz click en el siguiente link:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si haciendo click en el link no funciona, porfavor copialo y pégalo en la barra de búsqueda de tu navegador.

Atentamente,
Pardo by Mireia Pardo.
{% endautoescape %}