{% extends 'base.html' %}


{% block content %}

<h1 class='top center'>¡Hola @{{ user }}!</h1><br>
<div class="container user_panel center">
    
        <div class="row">
            <div class="col-sm-4 col-xs-4">
                <h4 class='userp_ex'>Mis Pedidos</h4>
            </div>
            <div class="col-sm-4 col-xs-4">
                <h4 class='userp_ex'>Wishlist</h4>
            </div>
            <div class="col-sm-4 col-xs-4">
                <h4 class='userp_ex'>Mis Datos</h4>
            </div>
        </div>
    </div>
{% endblock content%}

</div>
</div>