{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<div class='navbar_adjust_blog'></div>
    {% for blog in blogs %}

    
    <div class="container blog top bottom">
            
            <div class="post">
                <h1 class='title_blog'>{{ blog.title }}</h1>
                <img src="{{MEDIA_URL}}{{ blog.image }}" class='postimg' alt="blogpost1">
                <p class='post_text'>
                {{ blog.content|truncatewords:30 }}
                <hr>
                <br>
                {% if perms.blog.add_blog %}
                    <p><span class="boldtext">Visitas:</span> {{blog.views}}</p>
                {% endif %}
                <br>
                <p class='right'><a href="{% url 'blog_detail' blog.id %}"  class="btn">Leer mas...</a></p>
                <p><span class="boldtext">Fecha:</span> {{ blog.published_date }} </p>
                <span class="boldtext">#</span> {{ blog.tag }} 
            </div>
            
    </div>
    {% endfor %}
{% endblock %}