{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
<div class='navbar_adjust_cart'></div>
    <div class="row">
        
        <div class="col-sm-12">
            <div class="center">
                {% if blog.image %}
                    <img class="img-blogpost " src="{{MEDIA_URL}}{{ blog.image }}" width='66%'>
                {% endif %}
                <h3 class='title_blog'>{{ blog.title }}</h3>
            </div>
            
            
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 ">
                    <p>{{ blog.content }}</p>
                    <p><span class="boldtext">Published on:</span> {{ blog.published_date }} </p>
                    <p><span class="boldtext">Tag:</span> {{ blog.tag }}</p>
                    <p class='right'><a href="{% url 'get_blogs' %}" class="btn" >Volver</a></p>
                    <div class='navbar_adjust'></div>
                    {% if perms.blog.change_blog %}
                    <p><span class="boldtext">Visitas:</span> {{blog.views}}</p>
                    {% endif %}
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}