{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-md-2 col-sm-3 text-center">
            <a class="story-img" href="#">
                <img src="{{ MEDIA_URL}}avatars/{{blog.owner.username}}.jpg" class="img-circle">
            </a>
            
        </div>
        <div class="col-sm-10 col-md-9">
            {% if blog.image %}
                <img class="img-blogpost" src="{{MEDIA_URL}}{{ blog.image }}">
            {% endif %}
            <h3>{{ blog.title }}</h3>
            
            {{ perms.all }}
            
            <div class="row">
                <div class="col-xs-9">
                    <p>{{ blog.content }}</p>
                    <p><span class="boldtext">Published on:</span> {{ blog.published_date }} </p>
                    <p><span class="boldtext">Tag:</span> {{ blog.tag }}</p>
                    <a href="{% url 'get_blogs' %}" class="btn btn-default">Volver</a>
                    
                    {% if perms.blog.change_blog %}
                    <a href="{% url 'edit_blog' blog.id %}" class="btn btn-default">Editar Blog</a>
                    <p><span class="boldtext">Views:</span> {{blog.views}}</p>
                    {% endif %}
                    
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}