{% extends 'base.html' %} 
{% block content %} 

    <div class="container instagram_layout bottom">
        
        <div class="row 1">
                <div class="col-sm-4 col-xs-12 ig imgig" ><img id='imgig' src="{{MEDIA_URL}}images/ig/imgig.png" width='50%' alt="instagram images"></div>
                <div class="col-sm-8 ig nameig" ><img id='nameig' src="{{MEDIA_URL}}images/ig/nameig.png" alt=""><p style="padding-left: 10px; padding-top: 30px;">Son únicas y diferentes.</p><p style="padding-left: 10px;">Los pequeños detalles importan.</p><p style="padding-left: 10px;"> Joyas.</p></div>
        </div>

        <hr>
        <!-- {% for combined_data in image_ig_urls %}
        {% if combined_data.productUrl > 0 %}
        <a href='/products/profile/{{combined_data.productUrl}}'><img src="{{combined_data.image}}" alt=""></a>
        {% else %}
        <img src="{{combined_data.image}}" alt="">
        {% endif %}
        {% endfor %} -->
        <div class="row 2">
            {% for combined_data in image_ig_urls %}
            <div class="col-sm-4 ig" >
                {% if combined_data.productUrl > 0 %}
                    <div class="container igyes">
                        <img src="{{combined_data.image}}" width='100%' alt="">
                        <div class="overlay">
                            <div class="icon_ig">
                                <div class="profile_ig">
                                    <div class="profile">
                                    <a href="/products/profile/{{combined_data.productUrl}}" title="Product Profile">
                                        <img src="{{MEDIA_URL}}images/cart/note.png"  class="fa icons" alt="Perfil de producto">
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class='container igno'>
                         <img src="{{combined_data.image}}" width='100%' alt="">
                    </div>
            {% endif %}
        </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
            {% endif %}
        {% endfor %}
        </div> 
    </div> 
    
{% endblock %}
