{% extends 'base.html' %} 
{% block content %} 

    <div class="container topc cabecera">
        <div class="row bottom">
            <div class="col-sm-12">
                <img class='cabecera' src="{{MEDIA_URL}}images/base/cabecera.png" alt="">
            </div>
        </div>
    </div>
    <hr>
    <div class="container instagram_layout bottom">

    <div class="row pend">
        {% for product in products %}
            <div class="col-sm-4 ig" >
                <div class="container yes">
                    <img src="{{MEDIA_URL}}{{product.image}}" width="100%" alt="product"><br><br>
                    <hr>
                    <span><p class="product_price">{{ product.price }} €</p></span>
                    <div class="overlay2">
                        <div class="icon">
                            <div class="add_and_profile">
                                <form class='form_addtocart' method="POST" action="{% url 'add_to_cart' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value={{product.id}}>
                                    <button class='btn_addtocart' type="submit"><img src="{{MEDIA_URL}}images/cart/prodcart2.png"  class="fa icons" alt="Añadir al carrito"></button>
                                </form>
                                <div class="profile">
                                <a href="{% url 'product_profile' product.id %}" title="Product Profile">
                                    <img src="{{MEDIA_URL}}images/cart/note2.png" class="fa icons profile_prod" alt="Descripción del producto">
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        {% if forloop.counter|divisibleby:3 %}
    </div>
        <div class="row">
        {% endif %}
    {% endfor %}
    </div> 
</div>     
{% endblock %}

